/*
 * The following styles are used on Admin pages!
 */
 
 
.subject-box-top-half-outer {
    height: 50%;
    background-color: #46a8bf;
    padding: 20%;
}

.subject-box-top-half-inner {
    color: white;
}

.form-box {
    height: 50%;
    background-color: #46a8bf;
    color: white;
}

.item-list-box {
    background-color: white;
    padding: 40px 20px 40px 50px;
    height: 100%;
    overflow: auto;
    padding: 40px 20px 40px 10px;
}

.item-box {
    background-color: white;
    min-height: 150px;
    padding: 20px 20px;
    list-style-type: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.item-box-icon {
    position: absolute;
    float: left;
}

.item-box-title {
    margin-left: 30%;
    cursor: default;
}

.item-box-description {
    margin-left: 30%;
    cursor: default;
}

.content-title {
    margin-left: 20%;
    cursor: default;
}

.content-description {
    margin-left: 20%;
    cursor: default;
}

.hover {
    background-color: #eeeeee
}

.item-box-btns {
    float: right;
    position: relative;
    bottom: 110px;
    cursor: default;
}

.item-box-button {
    background: transparent;
    padding: 5px;
    cursor: default;
}