{% extends "templates/site_base.html" %} {% block blockstart %}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='dashboard-box '>
                <a href="/admin/users" class="btn btn-default dashboard-item"> <img src="/assets/JordansStuff/icons/users.png">
                    <p>User Management</p>
                </a> <a href="/admin/courses" class="btn btn-default dashboard-item"> <img src="/assets/JordansStuff/icons/tutorialmanagement.png">
                    <p>Course Management</p>
                </a> <a href="/admin/modules" class="btn btn-default dashboard-item"> <img src="/assets/JordansStuff/icons/tutorialmanagement.png">
                    <p>Other Stuff</p>
                </a>
            </div>
        </div>
    </div>
</div>








{% endblock %}
