.btn-huge { 

        padding: 18px 28px;
        font-size: 22px; 
        line-height: normal;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
            border-radius: 8px;
        } 

.title h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 500;
  line-height: 30px;
}


.quiz-panel-outer {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid #dddddd;
}

.quiz-panel-inner {
  padding: 20px;
  background-color: #E0E0E0;
  border-radius: 16px;
  border: 2px solid #D0D0D0;
}

.quiz-panel-inner li {
  line-height: 30px;
}

.quiz-panel-outer li {
  line-height: 30px;
}

.quiz-panel-question {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.quiz-panel-answer {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px; 
}





.jPanel-outer li {
  line-height: 30px;
}

.left-pad {
  margin-left:1cm;
}

.pad-reg {
    padding: 20px;
}

.pad-small {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}




}