{% extends "templates/site_base.html" %} {% block blockstart %}

<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-3 vertical-content-nav-bar'>
            <!-- vertical side nav bar-->

            <div class='vertical-content-nav-bar-title' current_content_title='{{content.c_title}}'>
                <a class='vertical-content-nav-bar-course-title-text'><span class="glyphicon glyphicon-chevron-left"></span>
                    {{course.c_title}}
                </a>
                <div class='vertical-content-nav-bar-title-text'>{{module.m_title}}</div>
            </div>


            {% for c in contents %}
            <div title='{{c.c_title}}' class='vertical-content-nav-bar-item'>

                {% if c.c_type == "App" %} <img class='vertical-content-nav-bar-item-icon' src='/assets/img/appinventor-Jigsaw.jpg' height='28px' width='28px'>
                {% endif %} 
                {% if c.c_type == "Quiz" %} 
                <img class='vertical-content-nav-bar-item-icon' src='/assets/img/bird.png' height='28px' width='28px'>
                {% endif %} 
                {% if c.c_type == "Nugget" %}
                <img  class='vertical-content-nav-bar-item-icon' src='/assets/img/kitty.png' height='28px' width='28px'>
                {% endif %}

                <div class='vertical-content-nav-bar-item-text'>{{c.c_title}}</div>
            </div>
            {% endfor %}


            <div class='vertical-content-nav-bar-next-section-box-label'>
                <div class='vertical-content-nav-bar-next-section-box-label-text'>Next Module:</div>
            </div>

            <div title='{{next_module.m_title}}' class='vertical-content-nav-bar-next-section-box'>
                <img class='vertical-content-nav-bar-next-section-box-icon' src='{{next_module.m_icon}}' height='40px' width='40px'>
                <div class='vertical-content-nav-bar-next-section-box-text'>{{next_module.m_title}}</div>
            </div>

        </div>
        <div id='contentarea' class='col-md-9'>
            <!-- Actual content rendered here -->

        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#contentarea').load('{{content.c_url}}');
});
</script>

{% endblock %}
