{% extends "templates/site_base.html" %} {% block blockstart %}

<div class="jumbotron jumbotron-wherami ">
    <div class='jumbotron-wherami-text'>Courses</div>
</div>


<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>        
            {% for course in courses %}
            <div course_title='{{course.c_title}}' class='course-box'>
                <h1>{{course.c_title}}</h1>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}
