{% extends "site_base.html" %}
<title>App Inventor Frequently Asked Questions</title>
{% block body %}
<h2>App Inventor Frequently Asked Questions</h2>


<h3>Timed Activity</h3>
<ul>
<li>
<a href="/TimedActivity">How do you repeat an action, pausing between each iteration?</a>
  <ul>
    <li>How do you play a sound every second?</li>
    <li>How do you move a spaceship smoothly across the screen?</li>
  </ul>
</li>
<li>
<a href="/TimedActivity#startStop">How do you start and stop an animation?</a>
  <ul>
  <li>When the user clicks a start button, start playing a sound every second. 
 When they click a stop button, stop playing the sound.</li>

  <li>  
  When the user speaks, start the spaceship moving. When the user shakes 
  the phone, stop the spaceship from moving.</li>
  </ul>
</u;>

{% endblock %}