{% extends "site_base.html" %}
{% block body %}
<H1>App Inventor 2 </H1>
<p>
App Inventor 2 is in preview mode but can be accessed at <a href="http://ai2.appinventor.mit.edu" target="_blank">http://ai2.appinventor.mit.edu</a>. It is fabulous and provides a much more elegant programming experience with little setup. It is fairly stable but the App Inventor team offers no promises at this time-- use it at your own risk! If I, David Wolber, were teaching a course, I'd use it, but I have a lot of experience teaching App Inventor and I'm also a little crazy. 
</p>
<p>
If you're a developer or checking out App Inventor for future use, you should absolutely use it. Just be sure and save your source frequently by choosing More Actions | Download Source on the My Projects page. Note that the source files have an ".aia" extension instead of ".zip".
</p>
<div class="row-fluid">
<div class="span6">
<h3>Setup</h3>
<p>Most people can get started with App Inventor 2 within minutes. Checkout the <a href="/setupAI2">instructions and video page</a>
</p>

<h3>Tutorials</h3>
<ol>
<li>I Have a Dream, <a href="/IHaveADream">text</a>, <a href="http://www.youtube.com/watch?v=2pWSvLZd97E&list=PLsxoqvm6HPQV5XMPwN4N0tYIe7asB81PS">video<img src="/assets/img/videoLogo.jpg"/></a> an introductory soundboard app featuring civil rights icons.
</li>
<li>PaintPot</a><a href="/PaintPot2"> text</a>, <a href="http://www.youtube.com/watch?v=DNbZAzMEkvs&feature=share&list=PLsxoqvm6HPQV5XMPwN4N0tYIe7asB81PS">video <img src="/assets/img/videoLogo.jpg"/></a> the classic painting app.</li>
<li><a href="/mathBlaster">Math Blaster</a>-- educational software demonstrating use of dynamic lists and random numbers.</li>
</ol>
<h3>Conceptual Lessons</h3>
<ol>
<li><a href="/properties">Properties</a>-- introduction to component properties.</li>
<li><a href="/eventHandlers">Event Handlers</a>-- introduction to event handlers.</li>
<li><a href="/conditionalsInfo">Conditionals</a>-- introduction to conditionals.</li>
</ol>
</div>
<div class="span6">
<h3>Key Differences in App Inventor 2</h3>
<p>These tutorials introduce key differences in the new version</p>
<ol>
<li>
<a href="http://www.youtube.com/watch?v=Fxgr-6G3QQE&list=PLsxoqvm6HPQV5XMPwN4N0tYIe7asB81PS&index=14">Variables</a>
</li>

<li>
<a href="http://www.youtube.com/watch?v=ANIGSyZuluo&list=PLsxoqvm6HPQV5XMPwN4N0tYIe7asB81PS&index=13">Setting and getting component properties</a>
</li>
</ol>
<h3>Resources</h3>
<p>
<a href="http://appinventor.mit.edu/explore/ai2/tutorials.html">MIT Tutorials</a>. Shaileen Pokress, Josh Sheldon and the MIT team are adding great new tutorials and lessons everyday!
</p>
</div>
</div>

{% endblock %}
