{% extends "site_base.html" %}
{% block body %}
<H1>App Inventor 2 </H1>
<p>
App Inventor 2 is the new version of App Inventor available at <a href="http://ai2.appinventor.mit.edu" target="_blank">http://ai2.appinventor.mit.edu</a>. 
It is fabulous: its much easier to setup (usually no downloads!) and it provides a much more elegant programming experience. The blocks editor loads
immediately (its now in the browser, not a Java app!). If you're a developer or checking out App Inventor 
for future use, you should absolutely use AI2. However, AI "Classic" will still be available for some months.
</p>
<H2>Should I use AI2 to teach?</H2>
<p>
Even though your teaching materials will need to be changed to some degree, you are better off making the switch now. 
If you do switch, the experience for your students will be so much better-- once you try AI2 it is hard to go back to the "Classic" version!
Note also that the blocks in AI2 are essentially the same, with a few minor exceptions. So the changes to the materials are mostly about the mechanics of developing apps and
the pictures/videos you provide. AppInventor.org and appinventor.mit.edu have been hard at work developing new materials, so this will also help. Check out the 
<a href="/IHaveADream-steps">AI2 video tutorials</a> on this site as well as the <a href="/book2">book chapters</a> that have been translated into AI2. MIT has
also translated a number of their <a href="http://appinventor.mit.edu/explore/ai2/tutorials">tutorials</a>.
If I were teaching a class, I would definitely use AI2.
 
<div class="row-fluid">
<div class="span6">
<h3>Setup</h3>
<p>Most people can get started with App Inventor 2 within minutes. Checkout the <a href="/setupAI2">instructions</a>
</p>

<h3>Tutorials</h3>
<ol>
<li>I Have a Dream, <a href="/IHaveADream2">text</a>, <a href="/IHaveADream-steps">video<img src="/assets/img/videoLogo.jpg"/></a> an introductory soundboard app featuring civil rights icons.
</li>
<li>PaintPot<a href="/PaintPot2"> text</a>, <a href="/paintpot2-steps">video <img src="/assets/img/videoLogo.jpg"/></a> the classic painting app.</li>
<li><a href="/mathBlaster">Math Blaster</a>-- educational software demonstrating use of dynamic lists and random numbers.</li>
</ol>
<h3>Conceptual Lessons</h3>
<ol>
<li><a href="/properties">Properties</a>-- introduction to component properties.</li>
<li><a href="/eventHandlers">Event Handlers</a>-- introduction to event handlers.</li>
<li><a href="/conditionalsInfo">Conditionals</a>-- introduction to conditionals.</li>
</ol>
</div>
<div class="span6">
<a class="btn btn-mini btn-primary" href="/appInventor2Changes"><i class="icon-book icon-white"></i>&nbsp;&nbsp;Learn about the key changes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

</div>
</div>

{% endblock %}
