
{% extends "site_base.html" %}
{% block body %}
    <div class="row-fluid">

        <div class="span1">
            &nbsp;
        </div>


        <h1>App Inventor Book, AI 2 version (preview) </h1>

        <hr>
        <div id="contact" class="span5">
            <figure>
                    <img class="thumbnail" src="../../assets/img/pics/book_lg.png" border="0"/>

            </figure>


			<p>Led by USF student Cayla Shaver, we have converted many of the original<a href="/book"> App Inventor book chapters</a> to work with the new version of App Inventor (AI2). They are
			 in web form, not PDF. THE CHAPTERS ARE IN DRAFT FORM, please send bugs and feedback!</p><p> 
          The book, "App Inventor: Create your own Android Apps", was published by O'Reilly in 2011. It was written by USF Professor
                David Wolber along with App Inventor creator and MIT Professor Hal Abelson and
                Google engineers Ellen Spertus and Liz Looney.The book is designed for absolute beginners but also useful as a reference to programmers
                looking to add App Inventor to their arsenal.
            </p>

            <p>The book is organized in a way to motivate learning. The first section walks you through the creation of twelve successively more complex apps that you can build and customize. Find something you'd similar to what you'd like to build and go for it. The apps section is
                followed by a separate "Inventor's Manual" section which explains programming and computer science
                concepts in layperson's terms. This section is organized by programming topic as in a traditional text.
	    </p>
	    <p>
		Interested in building apps but don't have a year to learn Java? Teaching
                an introductory (CS0) computer science course to K-12 or university students? This book is for you!
            </p>

           
            <hr/>


        </div>

        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}

        <div class="span5">
            <ul>
                <label><em><strong>Introduction</strong></em></label>
                <li><a href="/assets/pdf/forwardAndPreface.pdf">Foreword and
                    Preface (original)</a></li>
            </ul>

            <br/>


            <ol>
                <label><em><strong>AI2 Tutorials</strong></em></label>
                <li><a href="/HelloPurr2">Hello Purr</a></li>
                <li><a href="/PaintPot2">PaintPot</a></li>
                <li><a href="/MoleMash2">MoleMash</a></li>
                <li><a href="/NoTexting2">No Texting While Driving</a></li>
                <li><a href="/Ladybug2">Ladybug Chase</a></li>
                <li><a href="/MapTour2">Map Tour</a></li>
                <li><a href="/AndroidCar2">Android, Where's My Car?'</a></li>
                <li><a href="/PresidentsQuiz2">President's Quiz</a></li>
                <li><a href="/Xylophone2">Xylophone</a></li>
                <li>MakeQuiz and TakeQuiz (coming soon)</li>
                <li><a href="/BroadcastHub2">Broadcast Hub</a></li>
                <li>Robot Remote (coming soon)</li>
		        <li>Amazon (coming soon)</li>
                

                <br/>

                <label><em><strong>Inventor's Manual (coming soon)</strong></em></label>
                <li>Understanding an App's Architecture</li>
                <li>Engineering and Debugging an App</li>
                <li>Programming Your App's Memory</li>
                <li>Creating Animated Apps</li>
                <li>Programming Your App to Make Decisions</li>
                <li>Programming Lists of Data</li>
                <li>Repeating Blocks</li>
                <li>Defining Procedures</li>
                <li>Databases</li>
                <li>Sensors</li>
                <li>Communicating with the Web</li>
            </ol>
            <br/>


        </div>


        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}
    </div>


{% endblock %}