
{% extends "site_base.html" %}
{% block body %}
    <div class="row-fluid">

        <div class="span1">
            &nbsp;
        </div>


        <h1>App Inventor Book, AI 2 version (web) </h1>

        <hr>
        <div id="contact" class="span5">
            <figure>
                    <img class="thumbnail" src="../../assets/img/pics/book_lg.png" border="0"/>

            </figure>


			<p>We have converted many of the <a href="/book">App Inventor book chapters</a> to work with the new version of App Inventor (AI2). They are in web form, not PDF. 
          The book, "App Inventor: Create your own Android Apps", was published by O'Reilly in 2011. It was written by USF Professor
                David Wolber along with App Inventor creator and MIT Professor Hal Abelson and
                Google engineers Ellen Spertus and Liz Looney.The book is designed for absolute beginners but also useful as a reference to programmers
                looking to add App Inventor to their arsenal.
            </p>

            <p>The book is organized in a way to motivate learning. The first section walks you through the creation of twelve successively more complex apps that you can build and customize. Find something you'd similar to what you'd like to build and go for it. The apps section is
                followed by a separate "Inventor's Manual" section which explains programming and computer science
                concepts in layperson's terms. This section is organized by programming topic as in a traditional text.
	    </p>
	    <p>
		Interested in building apps but don't have a year to learn Java? Teaching
                an introductory (CS0) computer science course to K-12 or university students? This book is for you!
            </p>

           
            <hr/>


        </div>

        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}

        <div class="span5">
            <ul>
                <label><em><strong>Introduction</strong></em></label>
                <li><a href="/assets/pdf/forwardAndPreface.pdf">Foreword and
                    Preface</a></li>
                <li><a href="/setup">Setup</a></li>
            </ul>

            <br/>


            <ol>
                <label><em><strong>AI2 Tutorials</strong></em></label>
                <li><a href="/HelloPurr2">Hello Purr</a></li>
                <li><a href="/PaintPot2">PaintPot</a></li>
                <li><a href="/MoleMash2">MoleMash</a></li>
                <li><a href="/NoTexting2">No Texting While Driving</a></li>
               <h3> coming soon...</h3>
                <li><a href="">Ladybug Chase</a></li>
                <li><a href="">Map Tour</a></li>
                <li><a href="">Android, Where's My Car?'</a></li>
                <li><a href="">QuizMe</a></li>
		 
                <li><a href="">Xylophone</a></li>
                <li><a href="">MakeQuiz and TakeQuiz</a></li>
                <li><a href="">Broadcaster Hub</a></li>
                <li><a href="">Robot Remote</a></li>
		        <li><a href="">Amazon</a></li>
                

                <br/>

                <label><em><strong>Inventor's Manual (still AI1)</strong></em></label>
                <li><a href="/assets/pdf/ch14Architecture.pdf">Understanding an App's Architecture</a></li>
                <li><a href="/assets/pdf/ch15Engineering.pdf">Engineering and Debugging an App</a></li>
                <li><a href="/assets/pdf/ch16Variables.pdf">Programming Your App's Memory</a></li>
                <li><a href="/assets/pdf/ch17Animation.pdf">Creating Animated Apps</a></li>
                <li><a href="/assets/pdf/ch18Conditionals.pdf">Programming Your App to Make Decisions</a></li>
                <li><a href="/assets/pdf/ch19Lists.pdf">Programming Lists of Data</a></li>
                <li><a href="/assets/pdf/ch20Iteration.pdf">Repeating Blocks</a></li>
                <li><a href="/assets/pdf/ch21Procedures.pdf">Defining Procedures</a></li>
                <li><a href="/assets/pdf/ch22Databases.pdf">Databases</a></li>
                <li><a href="/assets/pdf/ch23Sensors.pdf">Sensors</a></li>
                <li><a href="/assets/pdf/ch24API.pdf">Communicating with the Web</a></li>
            </ol>
            <br/>


        </div>


        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}
    </div>


{% endblock %}