
{% extends "site_base.html" %}
{% block body %}
    <div class="row-fluid">

        <div class="span1">
            &nbsp;
        </div>


        <h1>App Inventor Book, AI 2 version (preview) </h1>

        <hr>
        <div id="contact" class="span5">
            <figure>
                    <img class="thumbnail" src="../../assets/img/pics/book_lg.png" border="0"/>

            </figure>
            <p>We are working on a <strong>2nd Edition of "App Inventor: Create your own Android Apps"</strong> for the new version of App Inventor (AI2). It
            is expected to come out in <strong>early August, 2014</strong>. The book is authored by USF Professor
                David Wolber along with App Inventor creator and MIT Professor Hal Abelson and
                Google engineers Ellen Spertus and Liz Looney.The book is designed for absolute beginners but also useful as a reference to programmers
                looking to add App Inventor to their arsenal.
          </p>
          <p>The book is organized in a way to motivate learning. The first section walks you through the creation of twelve successively more complex apps that you can build and customize. Find something you'd similar to what you'd like to build and go for it. The apps section is
                followed by a separate "Inventor's Manual" section which explains programming and computer science
                concepts in layperson's terms. This section is organized by programming topic as in a traditional text.
        </p>
			<p>This PREVIEW version was created to provide early access to AI2 teaching materials. The chapters are
			 in web form, not PDF. THE CHAPTERS ARE ONLY DRAFTS, INCOMPLETE AND BUGGY. Please plan on
			 using the published version of the 2nd edition starting in August.</p>
			 
			 <p>Many thanks to Cayla Shaver, USF CS student, for her work on the conversion project.</p> 
			 

           
            <hr/>


        </div>

        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}

        <div class="span5">
            <ul>
                <label><em><strong>Introduction</strong></em></label>
                <li><a href="/assets/pdf/forwardAndPreface.pdf">Foreword and
                    Preface (original)</a></li>
            </ul>

            <br/>


            <ol>
                <label><em><strong>AI2 Tutorials</strong></em></label>
                <li><a href="/HelloPurr2">Hello Purr</a></li>
                <li><a href="/PaintPot2">PaintPot</a></li>
                <li><a href="/MoleMash2">MoleMash</a></li>
                <li><a href="/NoTexting2">No Texting While Driving</a></li>
                <li><a href="/Ladybug2">Ladybug Chase</a></li>
                <li><a href="/MapTour2">Map Tour</a></li>
                <li><a href="/AndroidCar2">Android, Where's My Car?'</a></li>
                <li><a href="/PresidentsQuiz2">President's Quiz</a></li>
                <li><a href="/Xylophone2">Xylophone</a></li>
                <li><a href="/MakeQuiz10">MakeQuiz and TakeQuiz</a></li>
                <li><a href="/BroadcastHub2">Broadcast Hub</a></li>
                <li>Robot Remote (coming soon)</li>
                <li>Amazon (coming soon)</li>
                

                <br/>

                <label><em><strong>Inventor's Manual</strong></em></label>
                <li><a href="/Architecture2">Understanding an App's Architecture</li>
                <li><a href="/Engineering2">Engineering and Debugging an App</a></li> 
                <li><a href="/Variables2">Programming Your App's Memory</a></li>
                <li> <a href="/Creation2">Creating Animated Apps</a></li>
               <li><a href="/Conditionals2">Programming Your App to Make Decisions</a></li> 
                <li><a href="/Lists2">Programming Lists of Data</a></li> 
                 <li><a href="/Iteration2">Repeating Blocks</a></li>
 				<li> <a href="/Procedures2">Defining Procedures</a></li>
                <li><a href="/Databases2">Databases</a></li>
                 <li><a href="/Sensors2">Sensors</a></li> 
                 <li><a href="/API242">Communicating with the Web</a></li>
            </ol>
            <br/>


        </div>


        {#        <div class="span1">#}
        {#            &nbsp;#}
        {#        </div>#}
    </div>


{% endblock %}