{% extends "profile_base.html" %}
{% block body %}



<div class="container" style="margin-top: 40px">
   <div class="row">
      <!-- <iframe class="span5 thumbnail" width="550" height="324" src="http://www.youtube.com/embed/E9Zm56Od1pw"
         frameborder="0" allowfullscreen></iframe> -->
      
      <div class="span6">
         <!-- start of profile box -->
         <div class="span9">
            <!-- <a href="/notetaker">notetaker</a> -->
            <h2>User Profile</h2>
            <p class="lead"> Learn to build Android apps in hours.<br />Learn App Inventor. Learn to program.</p>
            <div class="row-fluid">
			
               <table class="table table-striped">
                  <tr>
                     <form class="form-search" action="/uploadPicture" enctype="multipart/form-data" method="post">
                        <td>
                           Upload Picture:
                        </td>
                        <td>
                           <input type="file" name="pictureFile" onchange="previewImage(this)" />
					

                           <input type="submit" value="Upload" class="btn" />
                        </td>
                        <!-- hidden parameters of picture crop-->
                        <input type="hidden" id="x1" name="x1" />
                        <input type="hidden" id="y1" name="y1" />
                        <input type="hidden" id="x2" name="x2" />
                        <input type="hidden" id="y2" name="y2" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />

				  <input type="hidden" id="x_left" name="x_left"/>
				  <input type="hidden" id="y_top" name="y_top"/>
				  <input type="hidden" id="x_right" name="x_right"/>
				  <input type="hidden" id="y_bottom" name="y_bottom" />


                     </form>
                  </tr>
                  <tr>
                  </tr>
               </table>
               <form class="form-search" action="/saveProfile" method="get">
                  <table class="table table-striped">
                     <tr>
                        <td>First Name: </td>
                        <td><input id="user_firstName" class="input-medium search-query span12" type="text" name="firstName" value="{{account.firstName}}" /></td>
                     </tr>
                     <tr>
                        <td>Last Name: </td>
                        <td><input id="user_lastName" class="input-medium search-query span12" type="text" name="lastName" value="{{account.lastName}}" /></td>
                     </tr>
                     <tr>
                        <td>Location: </td>
                        <td><input id="user_location" class="input-medium search-query span12" type="text" name="location" value="{{account.location}}" /></td>
                     </tr>
                     <tr>
                        <td>Community: </td>
                        <td><input id="user_community" class="input-medium search-query span12" type="text" name="community" value="{{account.community}}" /></td>
                     </tr>
                     <tr>
                        <td>Are you an educator: </td>
                        <td>
                           <a data-toggle="collapse" data-target="#educatorDetails">
                           {% if account.ifEducator%}
                           <label class="checkbox inline">
                           <input type="checkbox" id="user_ifEducator" name="ifEducator" checked /> Select to fill out details
                           </label>
                           {% else %}
                           <label class="checkbox inline">
                           <input type="checkbox" id="user_ifEducator" name="ifEducator" /> Select to fill out details
                           </label>
                           {% endif %}
                           </a>
                        </td>
                     </tr>
                  </table>
                  <div id="educatorDetails" class="{{ifEducatorShow}}">
                     <table class="table table-striped">
                        <tr>
                           <td>What level do you teach: </td>
                           <td>
                              <p><label class="radio">
                                 <input type="radio" name="educationLevel" id="user_educationLevel1" value="K-8" {{educationLevelCheck0}} />
                                 K-8(Elementery)
                                 </label>
                              </p>
                              <label class="radio">
                                 <p><input type="radio" name="educationLevel" id="user_educationLevel2" value="High School" {{educationLevelCheck1}} />
                                    High School
                              </label>
                              </p>
                              <p><input type="radio" name="educationLevel" id="user_educationLevel3" value="College/University" {{educationLevelCheck2}} />
                                 College/University
                                 </label>
                              </p>
                           </td>
                        </tr>
                        <tr>
                           <td>Link to your course/teaching website: </td>
                           <td><input id="user_introductionLink" class="input-medium search-query span12" type="text" name="introductionLink" value="{{account.introductionLink}}" /></td>
                        </tr>
                     </table>
                  </div>
                  <table class="table table-striped">
                     <tr>
                        <td>
                        </td>
                        <td><input type="submit" class="btn btn-large btn-block btn btn-success" value="Confirm to Update" </td>
                     </tr>
                  </table>
               </form>
            </div>
         </div>
         <!-- end of profile box -->
      </div>
      <div class="span3">
         <div id="targetxy">
            <div id="preview">
               <img src="/imageHandler?key={{account.key}}" />
            </div>
            <div style="width:1px;height:1px;overflow: hidden;">
               <img id="preview_size_fake" />
            </div>
         </div>
      </div>
   </div>
   <!-- end of row -->
</div>
<!-- end of container -->
{% endblock %}