{% extends "site_base.html" %}
{% block body %}


<H2>Module 1: Introduction</h2>
<div class="row-fluid">
<div class="span4">
<ol>
<li><a href="/appInventorIntro">App Inventor Introduction</a></li>
 
<li><a href="/portfolio">Setup your portfolio</a></li>
<li><a href="http://appinventor.mit.edu/explore/ai2/setup.html">Setup App Inventor</a></li>
<li><a href="/IHaveADream-steps">Build your first app: "I Have a Dream!"</a></li>
<li><a href="/appPage">Publishing your app</a></li>
<li>Customize and Conceptualize</li>
<li><a href="/soundboard">Creative Project: Soundboard</a></li>	
<li>  <a href="Quiz1">Quiz 1</a><br/></li>
</ol>
<H3>Key Concepts</H3>
<a href="/eventHandlers"><button class="btn-primary" >Event Handlers</button></a> &nbsp;
<a href="/conditionalsInfo"><button class="btn-primary" >Conditionals</button></a>

</div>
<div class="span5">
<strong>Reading</strong>
<ul>
<li><a href="/assets/pdf/forwardAndPreface.pdf">Book Preface</a></li>
<li><a href="http://sites.google.com/site/appinventorcourse/what-is-app-inventor">What is App Inventor? articles</a></li>
<li><a href="/assets/pdf/ch14Architecture.pdf">Ch. 14. App Architecture</a></li>
<li><a href="/assets/pdf/ch18Conditionals.pdf">Ch 16. Conditionals </a></li>						
</ul>
</div>
</div>	

<hr>	
<H2>Module 2: Introduction to Drawing and Games</H2>



{% endblock %}