{% extends "site_base.html" %}
{% block body %}


<center><H2>Module 1: Introduction</h2></center>
<div class="row-fluid">
<div class="span7">
<H3>Students</H3>

<ol>
<li><a href="/appInventorIntro" target="_blank">App Inventor Introduction</a></li>
<li><a href="http://appinventor.mit.edu/explore/ai2/setup.html" target="_blank">Setup App Inventor</a></li>
<li>Build your first app: "I Have a Dream!" <a href="/IHaveADream-steps" target="_blank">video</a>,<a href="/apps2/IHaveADream/IHaveADream.pdf" target="_blank">pdf</a></li>

<li><a href="/portfolio" target="_blank">Setup your portfolio</a></li>
<li><a href="/appPage" target="_blank">Publishing your app</a></li>
<li><a href="/Events" target="_blank">Nugget: Event Handling</a></li>
<li><a href="/Conditionals" target="_blank">Nugget: Conditionals</a></li>
<li><a href="https://docs.google.com/document/d/1f4lPDnfaxxKhzkWvoEuCrHNHpJBRWixIsxr8u0zJR9U/edit#">
Conceptualize and Customize: "I Have a Dream"</a></li>
<li><a href="/soundboard" target="_blank">Creative Project: Soundboard</a></li>	
<li>  <a href="Quiz1" target="_blank">Quiz 1</a><br/></li>
</ol>
<H3>Key Concepts</H3>
<a href="/eventHandlers"><button class="btn-primary" >Event Handlers</button></a> &nbsp;
<a href="/conditionalsInfo"><button class="btn-primary" >Conditionals</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/assets/pdf/forwardAndPreface.pdf">Book Preface</a></li>
<li><a href="/biblio">What is App Inventor? articles</a></li>
<li><a href="/HelloPurr2">Chapter 1. Hello Purr</a> (similar to <em>I Have a Dream</em>)</li>
<li><a href="/Architecture2">Chapter 14. App Architecture</a></li>
<li><a href="/Conditionals2">Chapter 16. Conditionals </a></li>						
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1ODbIWIJ9EMiiECpJlRi5zxnrv-_cTJnHyOBB0MGV2As/edit">
Lesson Plan 1.1: App Inventor Introduction and the "I Have a Dream" app.</a></li> 
<li><a href="https://docs.google.com/document/d/1WhDuh-eaax7k52PnkZ4B0MYxHtb9D3CPawLZKrkcTf0/edit">
Lesson Plan 1.2: "I Have a Dream":Conceptualize, Customize, and Create.</a> </li>
</ol>
</div>
</div>	

<hr>	
<H2>Module 2: Drawing, Animation, and Games</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/Drawing">Nugget: Drawing Objects</a></li>
<li><a href="/Variables">Nugget: Variables</a></li>
<li><a href="/paintpot2-steps">PaintPot Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1Z2qInms4ljksa_y-1DmwfjvloaeCL_s2DZbwKFwVNsY/edit#heading=h.bi2ofcodvpg">
PaintPot: Conceptualize and Customize</a></li>

<li><a href="/incrementing">Nugget: Incrementing Values</a></li>
<li><a href="/TimedActivity">Nugget: TimedActivity</a></li>
<li><a href="/AndroidMash-steps">MoleMash Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1IgKiNpPMWlspEwi5LRehjBHAQaFR_aUHsJNhfeuTT2c/edit?usp=sharing">
MoleMash: Conceptualize and Customize</a></li>

<li><a href="/sprites">Nugget: Animation with Image Sprites and their Internal Timers</a></li>


<li><a href="/pong-steps">Pong Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1mQCVAuIVup5a6mha3QDVshEJzbdfmR5m0AXYYD1HTxI/edit">Animation: Conceptualize</a>
</li>

<li><a href="/gameProject">Creative Project: Game</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/Drawing"><button class="btn-primary" >Drawing</button></a>
<a href="/incrementing"><button class="btn-primary" >Incrementing</button></a> 
<a href="/TimedActivity"><button class="btn-primary" >Timed Activity</button></a>
<a href="/sprites"><button class="btn-primary" >Sprite Animation</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/PaintPot2">Chapter 2. PaintPot</a></li>
<li><a href="/Variables2">Chapter 16. Programming an App's Memory</a></li>
<li><a href="/MoleMash2">Chapter 3. MoleMash</a></li>
<li><a href="/LadyBug2">Chapter 5. Ladybug Chase</a></li>
<li><a href="/Creation2">Chapter 17. Animated Apps</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1aPYyhApDjeT8Mj39IegILDe__MksaOpaX2ppEIO_Cmc/">
Lesson Plan 2.1: PaintPot Tutorial, Conceptualization, Customization</li>
<li><a href="https://docs.google.com/document/d/1--22_4MLY1dBV4yw0TcnBvMRGvLzw1gwa0Y5Vr1_dgI/edit#">
Lesson Plan 2.2: MoleMash Tutorial, Conceptualization, Customization</li>
<li><a href="https://docs.google.com/document/d/1Ik4ResmYS9wWVnKOcVxvFHtRwO9y0DYpfgOlSAurp-I/edit?usp=sharing">
Lesson Plan 2.3: Sprite Animation and Creative Game</a></li>

</ol>
</div>
</div>	
<hr>

<H2>Module 3: Texting and Location</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/textingLesson">Texting Lesson</a></li>
<li><a href="http://explore.appinventor.mit.edu/content/google-voice">Don't have service on your phone? Use Google Voice</a></li>
<li><a href="/Lists">Nugget: Lists</a></li>
<li><a href="/Persistence">Nugget: Persistence</a></li>
<li><a href="/notext-steps">No Texting While Driving Tutorial</a></li>
<li><a href="https://docs.google.com/document/d/1R9eoiyxnCZtNV3eisxkJGuG-l7EVB-p7oys-qBA_SzA/">
Texting: Conceptualize and Customize</a></li>

<li><a href="/locationLesson">Location Lesson</a></li>
<li><a href="/location">Nugget: Where am I?</a></li>

<li><a href="https://docs.google.com/document/d/1b67_OlKzYfoUPOhHEUw_ivOiFxBXGX3BMpD08ueZWAM/">
Location: Conceptualize and Customize</a></li>


<li><a href="/externalInteractionProject">Creative Project: Texting and Location</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/Lists"><button class="btn-primary" >Processing a list</button></a> &nbsp;
<a href="/persistence"><button class="btn-primary" >Persistence</button></a>
<H3>Reading</H3>
<ul>
<li><a href="/NoTexting2">Chapter 4: No Texting While Driving</a></li>
<li><a href="/NoTexting2">Chapter 7: Android, Where's My Car?</a></li>
<li><a href="/Databases2">Chapter 22: Working with Databases</a></li>
<li><a href="/Sensors2">Chapter 23: Sensors</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1K3zz9cTbL9MsbZH6JkLfPxoTtlCEsPnznDvQoigPkFg">
Lesson Plan 3.1: Texting</li>
<li><a href="https://docs.google.com/document/d/16eR_g8oez2vjXDQtiTFMfj1FNNSxuOujQMwBa4GifR8/">Lesson Plan 3.2: Location-Aware Apps</a></li>

</ol>
</div>
</div>
<hr>
<H2>Module 4: Quizzes and other Information Navigation Apps</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="https://docs.google.com/document/d/1hGTy3hRJG3CuVUBJY9W0w7taFiXma_qm6zoNIfN8aSY/edit">Pre-Test: Incrementing Values and Defining Variables</a></li>
<li><a href="https://docs.google.com/document/d/1KhtOZLB-2b-PeRNCeMwwBLNI81Asa8uTaCpqO-31w20">Slideshow Fixer-Upper</a></li>
<li><a href="/UserListNav">Nugget: User-Initiated List Iteration</a></li>
<li><a href="https://docs.google.com/document/d/1uZAumHBz_Df2ZJhgelbxqM2VXONmQxNeomIgaYOI5A8/">Slideshow: Conceptualize and Customize</a></li>

<li><a href="/presidentsQuiz2-steps">President's Quiz Tutorial</a></li>
<li><a href="/quizProject">Creative Project: Quiz</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/UserListNav"><button class="btn-primary" >Iterating through a list</button></a> &nbsp;
<H3>Reading</H3>
<ul>
<li><a href="/PresidentsQuiz2">Chapter 8: President's Quiz</a></li>
<li><a href="/Lists2">Chapter 19: Programming Lists</a></li>
</ul>
</div>
<div class="span5">
<H3>Teachers</H3>
<ol>
<li><a href="https://docs.google.com/document/d/1FNat-_1H3_EAwvkLgKbArP7Hywf49s6EshjUpkv_9_Y">
Lesson Plan 4.1: Slideshow</a></li>
<li><a href="https://docs.google.com/document/d/1T6KdlGRCKQljuKWtUxcqqUUZBfkDSBb_xnEPItQ-bms">
Lesson Plan 4.2. Slideshow: Conceptualize and Customize</a></li>
<li><a href="https://docs.google.com/document/d/1aQ1cE0NBzc-L4J35xPYUJn8CFAHBMcRSN2i5X0RH41E">
Lesson Plan 4.3. Quiz Tutorial</a></li>
</ol>
</div>
</div>	
<hr>
<H2>Module 5: User-Generated Data</H2>
<div class="row-fluid">
<div class="span7">
<ol>
<li><a href="/userDataLesson">User-Generated Data Lesson</a></li>
<li><a href="/recordItems">Nugget: Recording Items in a List</a></li>
<li><a href="/noteTaker-steps">NoteTaker Tutorial</a></li>
<li><a href="/broadcastHub-steps">BroadcastHub Tutorial</a></li>
<li><a href="/quizProject">Creative Project: User-Generated</a></li>
</ol>
<H3>Key Concepts</H3>
<a href="/RecordingItems"><button class="btn-primary" >Recording items in a list</button></a> &nbsp;
Persistent Lists
<H3>Reading</H3>
<ul>
<li><a href="/PresidentsQuiz2">Chapter 11: BroadcastHub</a></li>
<li><a href="/Lists2">Chapter 19: Programming Lists (revisit)</a></li>
</ul>
</div>
<div class="span5">
<H3>for teachers...</H3>
</div>
</div>	


{% endblock %}