{% extends "site_base.html" %}
{% block body %}

<title>Hello Purr Snapshot</title>

<h2>Hello Purr Mini Tutorial</h2>
<p>
	Hello Purr is to help you start to become an AppInventor Programmer. Within this Mini Tutorial you will learn the basic functions of AppInventor and how to start building your own Moblie Applications.
</p>
<h4>The User Interface</h4>
<img class="thumbnail" src="../../assets/img/MiniTutorials/hellopurr.png" border="0"/>
<h4>The Blocks</h4>
<img class="thumbnail" src="../../assets/img/MiniTutorials/hellopurrblocks.png" border="0"/>


{% endblock %}