{% extends "site_base.html" %}
{% block body %}

<h1>App Inventor Maker Cards</h1>
<p>The App Inventor Maker Cards teach you a programming concept and suggest ways to
explore different types of apps and programming. Click on the link below and print the set out, then
go have some fun!</p>
<p><a href="https://docs.google.com/presentation/d/1M8J5LhWsNabehRvt8ObA-xz-3RwMqPxaKJGWj_dkZAo/edit#slide=id.p13"
target="_blank">App Inventor Maker Cards</a></p>
<p>
Thanks to Paul Medlock-Walton, Shay Pokress, 
Franklyn Turbak and others from the MIT App Inventor team who created
the App Inventor Maker Cards </p>


{% endblock %}