{% extends "teaching_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module 5<small>&nbsp;&nbsp;Texting, Location and Other Mobile Technology</small></h1>
                    <h1></h1>
                    <p>
                        This module introduces students to dynamic user-generated data.
                    </p>
                </hgroup>
            </div>
            
            <p>
                Such apps present a
                significant challenge to the beginning programmer because of their abstract nature. The module can begin using one
                (or both) of two relatively simple apps with user-generated data-- a single user notetaker, or a xylophone apps that
                records musical notes and replays them. <br/><br/>Next, students can explore a Broadcast Hub app that allows people
                to join a group (on the hub phone), then allows them to broadcast messages to the entire group. This app is of great
                interest to students and is often chosen as a basis for final projects. Students can also explore a dynamic quiz in
                which a teacher can add fresh quizzes.
            </p>





            <br/>

            <table border="1" bordercolor="#888" cellspacing="0"
                   style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;border-collapse:collapse;border-top-color:rgb(136,136,136);border-right-color:rgb(136,136,136);border-bottom-color:rgb(136,136,136);border-left-color:rgb(136,136,136);border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px">
                <tbody>
                <tr>
                    <td style="width:198px;height:18px"><b>Topics</b></td>
                    <td style="width:224px;height:18px"><b>Lessons</b></td>
                    <td style="width:275px;height:18px"><b>Reading and Video</b></td>
                </tr>
                <tr>
                    <td style="vertical-align:top;padding-top:1px;padding-right:4px;padding-bottom:1px;padding-left:4px;width:198px;height:170px">
                        <font size="2">Input forms<br/>
                            Screen Arrangements<br/>
                            Dynamic Lists<br/>
                            Iteration: Displaying Lists<br/>
                            Persistence<br/>
                        </font></td>
                    <td style="vertical-align:top;padding-top:1px;padding-right:4px;padding-bottom:1px;padding-left:4px;width:224px;height:170px">
                        <font size="2"><a href="/lesson-plan-user-g" style="color:rgb(68,90,169)">user-generated
                            data and NoteTaking </a><br/>
                            <br/><a href="http://sites.google.com/site/appinventorcourse/notetaking-app">NoteTaking</a><br/>
                            <a href="/lesson-plan-foreach-iteration-and" style="color:rgb(68,90,169)">foreach
                                iteration and displaying a list</a><br/><br/><a
                                    href="/persistence-worksheet">Persistence worksheet</a><br/> <a
                                    href="/persistence-r">followup</a>
                        </font></td>
                    <td style="vertical-align:top;padding-top:1px;padding-right:4px;padding-bottom:1px;padding-left:4px;width:275px;height:170px">
                        <font size="2"><i>Tutorials:<br/>
                        </i><a href="/xylophone">Xylophone (ch 9)</a><i> pdf<br/></i><a
                                href="/notetaker">NoteTaker</a><i> video<br/>
                        </i></font><font size="2"><a href="https://appinventor.org/broadcaster-hub-1">Broadcast Hub (ch
                        11)</a><i> pdf</i></font><br/><font size="2"><a
                            href="/makequiz-and-takequiz-1">Make Quiz (ch 10)</a><i> pdf<br/>
                    </i><i><br/>
                        Conceptual Reading:</i><br/>
                        <a href="/lists-2">Programming Lists (ch 19, 273-)</a><br/>
                        <a href="/iteration-2">Iteration (ch 20)</a><br/>
                        <a href="/databases">Databases (ch
                            22)</a><br/><br/><i>Project:</i><br/></font></td>
                </tr>
                </tbody>
            </table>

        </div>



    </div>
</div>



{% endblock %}