{% extends "teaching_base.html" %}
{% block body %}

            <div class="hero-unit">
                <hgroup>
                    <h1>Module 5<small>&nbsp;&nbspShared Data</small></h1>
                    <h1></h1>
                    <p>
                        This module introduces students to apps with shared data (This module is under construction )                   </p>
                </hgroup>
            </div>
            
            <p>
               Shared data is data stored in a database and accessed by multiple devices. App Inventor provides a high-level component, TinyWebDB, which simplifies the task of creating an app with a shared, web database. In this module, you will learn how to use TinyWebDB as well as Google Fusion Tables to build app
            </p>





            <br/>

  <h3>Session 1</h3>
		    
<a href="/makequiz-and-takequiz-1-steps">Build a Quiz Maker app</a>
			
			
		

        </div>



    </div>
</div>



{% endblock %}