{% extends "course_base.html" %}
{% block body %}
<!-- BUILD IT section header -->
{% if steps %}
<div class="row-fluid">
   <div class="page-header">
      <h1 class="span8" id="build">Build It <br/>
         <small>Follow the video steps below to build the app yourself.</small>
      </h1>
      <div class="span4" style="margin-top: 10px; text-align: center;">
      </div>
      <br/>
      <br/>
      <br/>
   </div>
   <!-- /page-header -->
</div>
{% endif %}
<!-- end row -->
<!-- /BUILD IT section header -->
<!-- STEP ITERATION -->
<!-- /STEP ITERATION -->
<div class="container" style="margin-top: 40px">
   <div class="row">
	<div class="span7">
                  <div id="myCarousel" class="carousel slide thumbnail">
                     <div id="carousel-nav">
                        <a href="#myCarousel" data-to="1" class="active">1</a>
                        <a href="#myCarousel" data-to="2">2</a>
                        <a href="#myCarousel" data-to="3">3</a>
                     </div>
                     <!-- Carousel items -->
                     <div class="carousel-inner">
                        <div class="active item">
                           <div id="youtube_player1"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp AppInventor.org Introduction</h4>
                           </div>
                        </div>
                        <div class="item">
                           <div id="youtube_player2"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp The App Inventor Course at USF</h4>
                           </div>
                        </div>
                        <div class="item">
                           <div id="youtube_player3"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp What is App Inventor?</h4>
                           </div>
                        </div>
                     </div>
                     <!-- Carousel nav -->
                     <a class="carousel-control left" href="#myCarousel" data-slide="prev" onclick="stopVideo()">&lsaquo;</a>
                     <a class="carousel-control right" href="#myCarousel" data-slide="next" onclick="stopVideo()">&rsaquo;</a>
                  </div>
               </div>      
   </div>
   <!-- End of Row-->
</div>
<!-- End of Container-->{% endblock %}
{#end of body block#}


