{% extends "site_base.html" %}
{% block body %}
<!-- BUILD IT section header -->
{% if steps %}
<div class="row-fluid">
   <div class="page-header">
      <h1 class="span8" id="build">Build It <br/>
         <small>Follow the video steps below to build the app yourself.</small>
      </h1>
      <div class="span4" style="margin-top: 10px; text-align: center;">
      </div>
      <br/>
      <br/>
      <br/>
   </div>
   <!-- /page-header -->
</div>
{% endif %}
<!-- end row -->
<!-- /BUILD IT section header -->
<!-- STEP ITERATION -->
<!-- /STEP ITERATION -->
<div id="myCarousel" class="carousel slide">

   <div class="row-fluid">

	<div id="carousel-nav" >


      <h3>     
         {% for step in steps%}
         <a href="#myCarousel" data-to="{{forloop.counter}}">{{forloop.counter}}</a>

<a href="#myCarousel" data-to="{{forloop.counter|add:1}}">{{forloop.counter|add:1}}</a>

         {% endfor %}
     
</h3>

	


   	</div>
   </div>
   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item">
         <!-- HERO -->
         <div class="hero-unit">
            <div class="row-fluid">
               <div class="span6">
                  <h1 style="font-size: 36px">{{ app.heroHeader }}</h1>
                  <br/>
                  <p style="font-size: 16px">{{ app.heroCopy }}</p>
               </div>
               <div class="span1">
                  &nbsp;
               </div>
               <div class="span4">
                  <img class="" src="apps/{{ app.appId }}/hero.png" alt="screenshot">
               </div>
               <!-- end span -->
            </div>
            <!-- end row -->
            <div class="row-fluid">
               <figure>
                  <img class="qr" src="apps/{{ app.appId }}/qr.png" alt="" style="margin-left: 70px;">
                  <figcaption>
                     Scan this QR code to download the app
                  </figcaption>
               </figure>
            </div>
         </div>
         <!-- /HERO -->
         <!-- BREADCRUMB -->
         <div class="breadcrumb">
            <div class="row-fluid">
               <ul style="text-align:left">
                  {#        
                  <span class="span5">
                     #}
                     {#            {% if customs %}#}
                     {#                
                     <li>#}
                        {#                    <a class="lead" style="font-size:16px;">Build&nbsp;&nbsp;</a> <span#}
                        {#                        class="divider">{% if customs %}|{% endif %}
                  </span>
                  #}
                  {#                </li>#}
                  {#            {% endif %}#}
                  {##}
                  {#            {% if customs %}#}
                  {#                
                  <li>#}
                     {#                    <a class="lead" style="font-size:16px;" href="#customize">&nbsp;&nbsp; Customize&nbsp;&nbsp;</a> <span#}
                     {#                        class="divider">{% if concepts %}|{% endif %}</span>#}
                     {#                
                  </li>
                  #}
                  {#            {% endif %}#}
                  {##}
                  {#            {% if concepts %}#}
                  {#                
                  <li>#}
                     {#                    <a class="lead" style="font-size:16px;" href="#conceptualize">&nbsp;&nbsp; Conceptualize&nbsp;&nbsp;</a> <span#}
                     {#                        class="divider"></span>#}
                     {#                
                  </li>
                  #}
                  {#            {% endif %}#}
                  {##}
                  {#        </span>#}
                  <span class="span10">
                     {% if app.pdfChapter %}
                     <li style="font-size: 10px; margin-right: 20px;">
                        <a class="btn btn-success btn-mini"
                           href="apps/{{ app.appId }}/{{ app.appId }}.pdf">
                        Download the chapter&nbsp;
                        <i class="icon-download-alt icon-white"></i></a>
                     </li>
                     {% else %}
                     <!--Hide PDF, nothing here-->
                     {% endif %}
                     <li style="font-size: 10px; margin-right: 20px;">
                        <a class="btn btn-success btn-mini"
                           href="apps/{{ app.appId }}/{{ app.appId }}.zip">
                        Download the source&nbsp;
                        <i class="icon-download-alt icon-white"></i>
                        </a>
                     </li>
                     <li style="font-size: 10px; margin-right: 20px;">
                        <a class="btn btn-success btn-mini"
                           href="apps/{{ app.appId }}/{{ app.appId }}.apk">
                        Download the APK&nbsp;
                        <i class="icon-download-alt icon-white"></i>
                        </a>
                     </li>
                  </span>
               </ul>
            </div>
         </div>
         <!-- /BREADCRUMB -->
      </div>
      {% for step in steps|slice:":1" %}
      <div class="item">
         <div class="step">
            <div class="row-fluid">
               <p class="lead">
                  <a data-toggle="collapse" data-target="#step{{ step.number }}">
                  <strong>step {{ step.number }}:</strong> {{ step.header }} <small>(click for details)</small>
                  </a>
               </p>
            </div>
            <div id="step{{ step.number }}" class="collapse in">
               <div class="row-fluid">
                  <p class="lead span8">
                     <small>{{ step.copy }}</small>
                  </p>
               </div>
               <div class="block-image span6">
                  <img class="thumbnail" src="apps/{{ app.appId }}/blocks{{ step.number }}.png" alt=""/>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="step">
            <div class="row-fluid">
               <p class="lead">
                  <a data-toggle="collapse" data-target="#step{{ step.number }}">
                  <strong>step {{ step.number }}:</strong> {{ step.header }} <small>(click for details)</small>
                  </a>
               </p>
            </div>
            <div id="step{{ step.number }}" class="collapse in">
               <div class="row-fluid">
                  <p class="lead span8">
                     <small>{{ step.copy }}</small>
                  </p>
               </div>
               <div class="step-video span4" style="margin-left:40px;">
                  <iframe class="thumbnail" width="700" height="500" src="{{ step.videoPath }}" frameborder="0" allowfullscreen></iframe>
                  <p>Looks best in <a href="{{ step.fullscreenPath }}">full screen</a>.</p>
               </div>
            </div>
         </div>
      </div>
      {%  endfor %}
      {% for step in steps|slice:"1:" %}
      <div class="item">
         <div class="step">
            <div class="row-fluid">
               <p class="lead">
                  <a data-toggle="collapse" data-target="#step{{ step.number }}">
                  <strong>step {{ step.number }}:</strong> {{ step.header }} <small>(click for details)</small>
                  </a>
               </p>
            </div>
            <div id="step{{ step.number }}" class="collapse in">
               <div class="row-fluid">
                  <p class="lead span8">
                     <small>{{ step.copy }}</small>
                  </p>
               </div>
               <div class="block-image span6">
                  <img class="thumbnail" src="apps/{{ app.appId }}/blocks{{ step.number }}.png" alt=""/>
               </div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="step">
            <div class="row-fluid">
               <p class="lead">
                  <a data-toggle="collapse" data-target="#step{{ step.number }}">
                  <strong>step {{ step.number }}:</strong> {{ step.header }} <small>(click for details)</small>
                  </a>
               </p>
            </div>
            <div id="step{{ step.number }}" class="collapse in">
               <div class="row-fluid">
                  <p class="lead span8">
                     <small>{{ step.copy }}</small>
                  </p>
               </div>
               <div class="step-video span4" style="margin-left:40px;">
                  <iframe class="thumbnail" width="700" height="500" src="{{ step.videoPath }}" frameborder="0" allowfullscreen></iframe>
                  <p>Looks best in <a href="{{ step.fullscreenPath }}">full screen</a>.</p>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}
{#end of body block#}
