{% extends "course_base.html" %}
{% block body %}




<div class="container" style="margin-top: 40px">

   <div class="row-fluid">
		<div class="span4">
		
		<h2>Build the HelloPurr App</h2>
		<p>concept here,concept here,concept here,concept here,concept here,concept here,concept here,concept here</p>


		</div>
		<div class="offset1 span3">
		
		
		<img src="http://www.appinventor.org/apps/hellopurr/hero.png" style="height:200px;
width:200px;margin:0 auto;
 float:none;">
		
		</img>
			
		



		</div>
		<div class="offset1 span3">

		<table class="spaceUnder">
		<tr class="spaceUnder">
		<td>
			<a class="btn btn-success"
                   href="apps/hellopurr/hellopurr.pdf">
                    Download the chapter&nbsp;
                    <i class="icon-download-alt icon-white"></i></a>
		</td>
		</tr>


		<tr class="spaceUnder">
		<td>
			<a class="btn btn-success"
                   href="apps/hellopurr/hellopurr.zip">
                    Download the source&nbsp;
                    <i class="icon-download-alt icon-white"></i>
                </a>
		</td>
		</tr>


		<tr class="spaceUnder">
		<td>
			<a class="btn btn-success"
                   href="apps/hellopurr/hellopurr.apk">
                    Download the APK&nbsp&nbsp&nbsp&nbsp&nbsp;
                    <i class="icon-download-alt icon-white"></i>
                </a>
		</td>
		</tr>


		


		</table>

		

		

		

		</div>


   </div>



   <div class="row">
	<div class="span12">
                  <div id="myCarousel" class="carousel slide thumbnail">
                     <div id="carousel-nav">
                        <a href="#myCarousel" data-to="1" class="active">1</a>
                        <a href="#myCarousel" data-to="2">2</a>
                        <a href="#myCarousel" data-to="3">3</a>
                     </div>
                     <!-- Carousel items -->
                     <div class="carousel-inner">
                        <div class="active item">
                           <div id="youtube_player1"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp AppInventor.org Introduction</h4>
                           </div>
                        </div>
                        <div class="item">
                           <div id="youtube_player2"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp The App Inventor Course at USF</h4>
                           </div>
                        </div>
                        <div class="item">
                           <div id="youtube_player3"></div>
                           <div class="carousel-caption">
                              <h4>&nbsp&nbsp&nbsp&nbsp&nbsp What is App Inventor?</h4>
                           </div>
                        </div>
                     </div>
                     <!-- Carousel nav -->
                     <a class="carousel-control left" href="#myCarousel" data-slide="prev" onclick="stopVideo()">&lsaquo;</a>
                     <a class="carousel-control right" href="#myCarousel" data-slide="next" onclick="stopVideo()">&rsaquo;</a>
                  </div>
               </div>      
   </div>
   <!-- End of Row-->
</div>
<!-- End of Container-->{% endblock %}
{#end of body block#}


