
{% extends "teaching_base.html" %}
{% block body %}
<H1>Quiz 1</H1>
<br/>
<p> Quiz questions along with sample student answers.</p><br/>
<ol>
<li>Name and define three ways in which the Android platform is more open than iOS (iPhone). Which of these is key to why App Inventor was developed for Android?<br/><br/><img src="assets/img/quiz1.1answer.png"/><br/><br/></li>


<li>Sketch the blocks for an app that:
<ul>
<li>
    Has one button, Button1
</li>
<li>
    The image on the button toggles between three images each time you click. First it show Obama, then Romney, then Clinton, then Obama again, and so on. Assume the images are named obama.jpg, romney.jpg, and clinton.jpg.
</li>
</ul>
<br/><p>Here are the blocks you'll need. Note that you may need multiple copies of some of the blocks:</p><br/>
<img src="/assets/img/quiz1blocks.png"/><br/><br/><img src="assets/img/quiz1.2answer.png"/><br/><br/>
</li>
<li>
a. In the following blocks, circle and label the i) event, ii) event-handler, iii) function calls, iv) parameter.<br/>
<img src="/assets/img/quiz1labelblocks.png"/><br/><br/><br/>

b.
Define the term parameter in the context of an App Inventor app<br/><br/><img src="assets/img/quiz1.3answer.png"/><br/><br/>
</li>
</ol>

{% endblock %}