{% extends "teaching_base.html" %}
{% block body %}
 
        <h1>Quiz 5</h1>
        
        <p>The following blocks are pertinent to this quiz:</p>
     <img src="../../assets/img/Quiz5q3.png" height="700" width="700">

      
          <h2>1.</h2>
         
          <p>(20) In a URL, what does ? signify? What does & signify?>/p>
         <div id="myCollapsibleExample"><a href="#demo1" data-toggle="collapse">Answer</a> 
        <div id="demo1" class="collapse">
	<p>  
          In a URL, the ? denotes the start of the  parameters and the & separates the parameters. The URL https://maps.google.com/maps?saddr=39.7,-122.4&daddr=42.1,-73.9, for instance, has two parameters, one named "sadder" with value 39.7,-122.4, and one named "daddr" with value 42.1,-73.9</p>
      	</div>
	</div>

      
          <h2>2.</h2>
          <p>(50)  Sketch the blocks for an app that, as the person holding the phone moves, periodically sends a text to the numbers 111-1111 and 222-2222. The texts sent should contain:
	<ul>

          <li>a.  the text “Suzy’s current address is:”</li>
         <li>b.  the device’s current address (street address)</li>
          <li>c.  a link to a google map page showing the current address</li>
          </ul>
          The app should send the text when it gets a new GPS reading and the phone has moved at least 30 meters. </p>
              
          <div id="myCollapsibleExample"><a href="#demo2" data-toggle="collapse">Answer</a></div>  
        <div id="demo2" class="collapse">  
           <img src="../../assets/img/textCurrentLocation.png" height="700" width="700">
           <p>The LocationSensor.LocationChanged event handler is triggered periodically, when the app first gets a reading and as the device is moved. By setting the DistanceInterval, you can make it so that the event is triggered only after the device is moved a certain distance (30 meters in this case).</p>
	</div>
	
       
          <h2>3.</h2>
          <p>(30) Consider a Mole Mash game and suppose you want to keep a high score.</br> 

          a. Explain why you’d want to code the high score as persistent data.
        </br>
        </br>
       

        b. Think about how high score might work and explain where in the code (blocks) you would call TinyDB.StoreValue to store the high score persistently?
        </br>
        </br>

        c. Where in the code (blocks) would you call TinyDB.GetValue to bring the high score into the app? .
        </br>
        </br>
        
   
       
        
           
         <div id="myCollapsibleExample"><a href="#demo3" data-toggle="collapse">Answer</a></div>  
        <div id="demo3" class="collapse">  
        a. Persistent data lives on even after the app is closed.  For a game, you want the high score over time (successive games) to be saved.</br>
        </br>
        </br>
 
        b.  You want to store the high score in the database when a game ends and the new score is larger than the previous high score. The game might be over on a Clock.Timer event, when the time has ran out. So in that event you'd ask if the score is higher than the previous high score, and if so call the TinyDB.StoreValue to update the database.</br></br>
        </br>
 
        c. You could call TinyDB.GetValue to bring in the previous high score in Screen.Initialize, when the app begins. Alternatively, you could call it only right when you need it, say when you need to compare a new score with it.</br>

        
     
    

     {% endblock %}
